/*ESTILOS GENERALES*/
*{
    padding:0px;
    margin:0px;
}

@font-face {
    font-family: "nevis";
    src: url("fonts/nevis.eot");
    src: url("fonts/nevis.eot?#iefix") format("embedded-opentype")
        url("fonts/nevis.woff") format("woff"),
        url("fonts/nevis.ttf") format("truetype"),
        url("fonts/nevis.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}
.contheader {
    min-width: 1024px;
    width: 100%;
    height: 250px;
    background-image: url(Imagenes/paven.png) width 100;
    margin: 0px auto;
}
.contheader, #logotipo {
    width: 770px;
    margin: 0px auto;
    padding-top: 20px;
}
.contheader, #logotipo img {
    display: block;
    text-align: center;
    margin: 0px auto; 
    width: 140px;
}

.contheader h1 {
    text-align: center;
    font-size: 40px;
    
}

.contheader h1 a {
    color: rgb(221, 20, 157);
    text-decoration: none;
    font-family: nevis;
    
    
}

html {
    scroll-behavior: smooth;
}
header{
    min-width: 1024px;
    width: 100%;
    height: 250px;
    margin: 0px auto;
}
footer {
    background-color: #c0dbb2;
    border: 1px solid #349a05;
}

h2 {
    color: #349a05;
}

img {
    width: 600px;
}
.encabezado {
    border: 1px solid #d4bb1a;
    background-color: #182F29;
}
.principal {
    display: flex;
    justify-content: space-around;
    height: fit-content;
    align-content: stretch;
    border: 1px solid #d4bb1a;
    background-color: #D9ABB6;
}
.ladoizq, .ladoder {
    border: 1px solid #91e969;
    background-color: #D9ABB6;
    flex-basis: 25%;
}
.flotanteizq, .flotanteder {
    border: 1px solid #cccccc;
    position: fixed;
}
.content {
    border: 1px solid #e9b869;
    background-color: #BCCFD5;
    flex-basis: 50%;
}
.fondo {
    border: 1px solid #d4bb1a;
    background-color: #182F29;
}
.paginas {
    border: 1px solid #ffffff;
    padding: 2px;
    position: sticky ;
    top: 550px;
}
.paginas button {
    font-size: 10px;
}

.navheader li {
    display: inline;
}

.pruebaparrafo {
    color: #349a05;
    border: 1px solid black;
}
